<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>AIker</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="favicon-16x16.png"
        />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/flexslider.css" />
        <link rel="stylesheet" href="css/jquery.fancybox.css" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/animate.min.css" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
        />
        <style>
            #ai {
                text-decoration-color: white;
                font-size: 30px;
            }
            h3 {
                text-align: center;
                margin-bottom: 40px;
                font-weight: 600;
                font-size: 50px;
                color: #333366;
                text-transform: uppercase;
                margin-top: 100px;
            }
            ul li {
                list-style: none;
                width: 100px;
            }
            .id,
            .username {
                width: 400px;
                height: 40px;
                margin: 0 45%;
                border: 2px solid black;
                margin-bottom: 10px;
            }
            .pw {
                width: 400px;
                height: 40px;
                margin: 0 45%;
                border: 2px solid black;
            }
            .btnL {
                width: 400px;
                height: 50px;
                margin: 15px 9%;
                border: 0;
                font-size: 20px;
                background-color: #333366;
                color: #fff;
                font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
            }
            input {
                padding-left: 10px;
            }
            .Login,
            .Join {
                width: 500px;
                height: 400px;
                margin: 200px auto;
            }
            .txt_find {
                margin-left: 64%;
                color: black;
                font-family: 맑은고딕, Malgun Gothic, dotum, gulim, sans-serif;
            }
        </style>
    </head>
    <body>
        <section class="banner" role="banner">
            <header id="header">
                <div class="header-content clearfix">
                    <a class="logo" href="#"
                        ><p id="ai">AIker</p>
                        <img src="" alt=""
                    /></a>
                </div>
            </header>
            <div class="container">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-text text-center">
                        <h1>AIker</h1>
                        <p>
                            DNN을 기반으로 한 컨테이너의 자동분류와 배포 웹
                            서비스
                        </p>
                        <a href="/join" class="btn btn-large">Join</a>
                        <a href="/" class="btn btn-large">Login</a>
                    </div>
                </div>
            </div>
        </section>

        <div class="Login" id="Login">
            <h3>LOGIN</h3>
            <form
                action="/auth/login"
                method="post"
                enctype="application/x-www-form-urlencoded"
            >
                <ul>
                    <li>
                        <input
                            type="text"
                            class="id"
                            name="id"
                            placeholder="ID "
                        />
                    </li>
                    <li>
                        <input
                            type="password"
                            class="pw"
                            name="password"
                            placeholder="PW "
                        />
                    </li>
                </ul>
                <input type="submit" class="btnL" value="로그인" />
            </form>
            <span class="txt_find">
                <a href="find/loginId" style="color: black;" class="link_find"
                    >아이디</a
                >
                /
                <a href="find/password" style="color: black;" class="link_find"
                    >비밀번호 찾기</a
                >
            </span>
        </div>

        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">AIker &copy;</p>
            </div>
        </footer>

        <script>
            window.jQuery ||
                document.write('<script src="js/jquery.min.js"><\/script>')
        </script>
        <script src="js/main.js"></script>
    </body>
</html>
